@import "../../style/style.scss";

.Charts {
  height: 100%;
  width: 100%;
  z-index: 50;
  display: flex;

  &-chartEvolution {
    height: 650px;
    width: 80%;
    padding: 0.4%;
    border-radius: 10px;
    background-color: $BckgContainer;
    padding: 3%;
    z-index: 50;
  }
}
