@import "../../style/style.scss";

.Charts {
  height: 100%;
  width: 100%;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-chartEvolution {
    height: 550px;
    width: 70%;
    padding: 0.4%;
    border-radius: 10px;
    background-color: $BckgContainer;
    padding: 3%;
    z-index: 50;
    margin-top: 2vh;
    margin-bottom: 10vh;
  }

  &-Bar {
    height: 650px;
    width: 75%;
    padding: 0.4%;
    border-radius: 10px;
    background-color: $BckgContainer;
  }
}

.chartEvolution-container {
  height: 550px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &-sectionLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 574px;
    font-size: $textFontSize;
    padding: 0.4%;
    border-radius: 10px;
    background-color: $BckgContainer;
  }

  &-sectionRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 574px;
    width: 35%;

    &-array {
      width: 75%;
      padding: 3%;
      border-radius: 10px;
      background-color: $BckgContainer;

      &-item {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        height: 5vh;
        font-size: $textFontSize;

        &-category {
        }

        &-value {
        }
      }

      &-item:before {
        position: absolute;
        bottom: -5px;
        content: "";
        width: 100%;
        height: 0.5px;
        background-color: $lightbuttoncolor;
      }
    }
  }
}
