.MainComponent-container{
    height: 100vh;
    width: 100vw;
    // background: url("../../data/images/appBackground.jpg") no-repeat  ;
    // background-size: cover;
    // filter: blur(30px);
    color: white;
}