@import '../../style/style.scss';

.MainComponent-container{
    height: 90vh;
    margin-top: 10vh;
    width: 90vw;
    margin-left: 10vw;
    // background: url("../../data/images/appBackground.jpg") no-repeat  ;
    // background-size: cover;
    // filter: blur(30px);
    color: white;
    background-color: $secondColor;
    border-radius: 100px 0px 0px 0px;
    padding: 100px;
}
