//SideBAr background
$firstColor: #0c0e30;
//main
$secondColor: rgb(12, 20, 51);

//color background bubble
$bublle: rgb(22, 29, 58);
$boxShadowBubble: 5px 5px 15px 5px #000000;

//color button blue-gradient
//lighter used for positiv color
//#06b5e6fa
$positivColor: rgb(6, 181, 230);
//#0d499e
$lightbuttoncolor: rgb(13, 73, 158);
//color négative
$NegativeColor: #550f87;

//negativ color
$negativColor: rgb(204, 0, 56);

//font-size
//texte
$textFontSize: 25px;
$h2FontSize: 40px;

//background container
$BckgContainer: rgb(12, 20, 51, 0.8);

//box shadow
$BoxShadow: 0px 0px 15px 1px rgb(6, 181, 230, 0.5);
