@import "../../style/style.scss";
.formVisible {
  visibility: visible;
}

.formNotVisible {
  visibility: hidden;
}
.container-user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;
  padding: 10px;

  &-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: auto;

    label {
      margin-top: 5px;
      text-align: start;
    }

    input {
      margin: 5px 0;
      width: 90%;
    }
  }

  &-containerButton {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      display: flex;
      width: 80px;
      margin: 2px;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid white;
      background-color: $firstColor;
      color: white;
      font-size: 20px;
      cursor: pointer;
      margin-top: 5px;
    }
  }
}
