@import "../../style/style.scss";
.formVisible {
  visibility: visible;
}

.formNotVisible {
  visibility: hidden;
}
.container-user {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 70%;
  margin-left: 15%;
  font-size: 20px;
}

.container-login {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 75%;
  height: 90%;
  margin: auto;
  padding: 10px;
  padding-top: 0px;
  margin-top: -15px;

  &-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin: auto;

    label {
      margin-top: 5px;
      text-align: start;
    }

    input {
      margin: 5px 0;
      width: 90%;
    }
  }

  &-containerButton {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      display: flex;
      width: 70px;
      margin: 2px;
      align-items: center;
      justify-content: center;
      padding: 5px;
      border-radius: 10px;
      border: 1px solid white;
      background-color: $firstColor;
      color: white;
      font-size: 16px;
      cursor: pointer;
      margin-top: 5px;
    }

    button:hover {
      background: linear-gradient(to right, #0d499e, #06b5e6fa);
      border: none;
    }
  }
}
