@import "../../style/style.scss";

.Orders {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 100%;
  padding: 3% 0;
  border-radius: 10px;
  overflow-y: auto;
  z-index: 200;
  font-size: 20px;
  background-color: $BckgContainer;

  button {
    height: 2.8vh;
    padding-top: 0.2vh;
    cursor: pointer;
  }

  input,
  select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #333;
    height: 3vh;
    font-size: 18px;
    border-radius: 5px;
  }

  &-date {
    width: 10.5vw;
  }

  &-asset {
    width: 6vw;
  }

  &-direction {
    width: 6vw;
  }

  &-taille {
    width: 6vw;
  }

  &-risk {
    width: 6vw;
  }

  &-profit {
    width: 6vw;
  }

  &-realise {
    width: 6vw;
  }

  &-balance {
    width: 6vw;
  }

  &-actions {
    width: 10vw;
    height: 2.9vh;
  }
}

.styled-table {
  position: relative;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: $firstColor;
  color: #ffffff;
  text-align: center;
}
.styled-table th,
.styled-table td {
  text-align: center;
  height: 3vh;
  padding: 5px;
  margin: 4%;
}

// .styled-table tbody tr {
//   border-bottom: 0.2px solid #dddddd;
// }

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid $positivColor;
}
.styled-table tbody tr:first-of-type {
  height: 50px;
  border-bottom: 2px solid $positivColor;
}
table {
  z-index: 50;
}

.container-button-actions {
  display: flex;

  button {
    width: 50%;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }

  &-update {
    background-color: $lightbuttoncolor;
  }

  &-delete {
    background-color: $NegativeColor;
  }
}

.empty {
  box-shadow: -1px -1px 24px 1px $NegativeColor;
  margin: 0px 10px;
}
.checked {
  box-shadow: -1px -1px 24px 1px $positivColor;
  margin: 0px 10px;
}
